@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --primary: 262.1 83.3% 57.8%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: white;
  background-color: black;
}

h1 {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
