@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  /* --primary: 262.1 83.3% 57.8%; */
  /* --primary: 37, 98%, 53%; */
  --primary: 221, 51%, 16%;
  --secondary: 37, 98%, 53%;
  --secondary-foreground: 0, 0%, 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: white;
  background-color: black;
}

h1 {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0, 0%, 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0, 0%, 12%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 0%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0, 0%, 90%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0, 0%, 90%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
  }
  .dark {
    --background: 0, 0%, 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0, 12%, 12%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 0%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0, 0%, 90%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0, 0%, 90%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    overflow-x: hidden;
  }
}
